body {
  background: #999;
  height: 100vh;
}

.newsletter {
  background: #fff;
  padding: 20px;
  color: #333;
  position: fixed;
  left: 50%;
  top: 20%;
  transform: translate3d(-50%, 0, 0);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.newsletter h2 {
  margin-top: 0;
}

.shade {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  pointer-events: none;
  transition: 0.3s ease all;
}

.open .shade {
  pointer-events: auto;
  background: rgba(0, 0, 0, 0.8);
}
