body {
  background: #999;
  height: 100vh;
}

.newsletter {
  background: #fff;
  padding: 20px;
  color: #333;
  position: fixed;
  left: 0%;
  top: 20%;
  transform: translate3d(-100%, 0, 0) scale(1.5, 0.8);
  transition: all 0.6s cubic-bezier(0.41, -0.4, 0.19, 2);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.newsletter.open {
  left: 50%;
  transform: translate3d(-50%, 0, 0) scale(1, 1);
}

.newsletter > * {
  opacity: 0;
  transition: all 0.3s ease 0.6s;
}

.newsletter.open > * {
  opacity: 1;
}

.newsletter h2 {
  margin-top: 0;
}
