body {
  padding: 40px 5%;
}
.nav {
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0px;
  right: 0px;
  background: #e74c3c;
  color: #333;
  pointer-events: none;
  -webkit-clip-path: circle(0px at 98% 5px);
  transition: all 0.6s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.nav.open {
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  pointer-events: all;
  -webkit-clip-path: circle(900px at 60% 275px);
}
.nav.open .interior ul li a {
  animation: fadeIn 0.6s ease 0.3s;
  animation-fill-mode: forwards;
}

.nav.open .interior ul li:nth-child(2) a {
  animation-delay: 0.4s;
}

.nav.open .interior ul li:nth-child(3) a {
  animation-delay: 0.5s;
}

.nav-toggle {
  cursor: pointer;
  position: fixed;
  top: 0;
  width: 80px;
  text-align: center;
  right: 0;
  padding: 20px 0;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
  background: #000;
}

.interior {
  position: fixed;
  top: 0;
  left: 0;
  color: #ecf0f1;
  text-align: left;
  width: 90%;
  padding: 40px 5%;
}
.interior h2 {
  border-bottom: solid 1px #ecf0f1;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.interior ul {
  list-style: none;
  padding: 0;
}
.interior ul li a {
  color: #ecf0f1;
  text-decoration: none;
  display: block;
  font-size: 2em;
  padding: 35px 35px 35px 0;
  font-weight: 100;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}
.interior ul li a:hover {
  border-left: 6px #ecf0f1 solid;
  padding-left: 35px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(40px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
