body {
  background-color: #eee;
}

.container {
  width: 350px;
  margin: 20px auto;
  text-align: center;
}

.toggle {
  width: 100%;
  margin-bottom: 10px;
  background: #2980b9;
  border: none;
  border-radius: 5px;
  padding: 5px;
  color: white;
  cursor: pointer;
}

.container article {
  background: #fff;
  padding: 0 0 10px;
  margin-bottom: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
  transform: translate3d(0, 100vh, 0) rotate(20deg);
  transition: all 0.6s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.container.show article {
  transform: translate3d(0, 0, 0);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.show article:nth-child(3) {
  transition-delay: 0.1s;
}
.show article:nth-child(4) {
  transition-delay: 0.2s;
}
.show article:nth-child(5) {
  transition-delay: 0.3s;
}
.show article:nth-child(6) {
  transition-delay: 0.4s;
}

h4 {
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 10px;
}
